.DS_Store
project/*
.idea
target/*
logs/*
.cluster-state
*.iml
_build

dependency-reduced-pom.xml
server-api/logs/
example/topology-builder-with-schema-cloud.properties
release/
private.key
rpm-gen-key
.s3/