@(
form: Form[models.User],
postUrl: Call
)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>

<body id="user-login">
<div id="content">

  <div id="user-login-form">

    <h1>User Login</h1>

    @request.flash.data.map{ case (name, value) =>
    <div>@name: @value</div>
    }

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
    <div>
      Error: @error.key: @error.message
    </div>
    }
    }

    @helper.form(postUrl, 'id -> "user-login-form") {

    @helper.CSRF.formField

    @helper.inputText(
    form("username"),
    '_label -> "Username",
    'placeholder -> "username",
    'id -> "username",
    'size -> 60
    )

    @helper.inputPassword(
    form("password"),
    '_label -> "Password",
    'placeholder -> "password",
    'id -> "password",
    'size -> 60
    )

    <button>Login</button>

    }

  </div>

</div>

</body>
</html>
