Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: Pere Urbon-Bayes <pere.urbon@gmail.com>
Depends: default-jre | java8-runtime